// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
	margin-left:1%;
}

.checkout-button {
	box-shadow: 1.5px 1.5px 2.5px #888888;
}

.invoice {
	margin-left: 10%;
}

.bold {
	font-weight: bold;
}