// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	margin-top:5%;
}
.product {
	border: gray 1px solid;
	margin: 1%;
	padding: .5%;
	width: 30%;
	background-color: #FFF;
	float:left;
  	box-shadow: 1px 1px 1px black;
}