doctype html
html
  head

    title Valde Group Media - Art Department
    
    == stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags

  body
    nav class="navbar navbar-default navbar-static-top" role="navigation"
      div class="container"
        div class="navbar-header"
          span class="navbar-brand" Valde Group Media
        div id="navbar" class="navbar-collapse collapse"
          ul class="nav navbar-nav navbar-right"
            li == link_to 'Home', root_path
            li == link_to 'About Us', about_path
            li == link_to 'About Us', about_path
            li == link_to 'Products', products_path
  == yield